-- SQL commands for Supabase to set up regions and budget management tables

-- Enable RLS (Row Level Security)
ALTER TABLE IF EXISTS public.island_groups ENABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS public.regions ENABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS public.provinces ENABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS public.region_budgets ENABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS public.users ENABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS public.user_regions ENABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS public.reports ENABLE ROW LEVEL SECURITY;

-- *** ISLAND GROUPS TABLE ***
CREATE TABLE IF NOT EXISTS public.island_groups (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name VARCHAR(100) NOT NULL UNIQUE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- *** REGIONS TABLE ***
CREATE TABLE IF NOT EXISTS public.regions (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    code VARCHAR(20) NOT NULL UNIQUE,
    name VARCHAR(100) NOT NULL,
    island_group_id UUID REFERENCES public.island_groups(id) ON DELETE CASCADE,
    priority VARCHAR(20) DEFAULT 'medium' CHECK (priority IN ('high', 'medium', 'low')),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- *** PROVINCES TABLE ***
CREATE TABLE IF NOT EXISTS public.provinces (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name VARCHAR(100) NOT NULL,
    region_id UUID REFERENCES public.regions(id) ON DELETE CASCADE,
    farmers INTEGER DEFAULT 0,
    organizations INTEGER DEFAULT 0,
    status VARCHAR(20) DEFAULT 'active' CHECK (status IN ('active', 'pending')),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- *** REGION BUDGETS TABLE ***
CREATE TABLE IF NOT EXISTS public.region_budgets (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    region_id UUID REFERENCES public.regions(id) ON DELETE CASCADE,
    fiscal_year INTEGER NOT NULL,
    amount DECIMAL(20, 2) DEFAULT 0,
    allocated BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    UNIQUE(region_id, fiscal_year)
);

-- *** TOTAL BUDGET TABLE ***
CREATE TABLE IF NOT EXISTS public.annual_budgets (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    fiscal_year INTEGER NOT NULL UNIQUE,
    total_amount DECIMAL(20, 2) DEFAULT 0,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- *** USERS TABLE ***
CREATE TABLE IF NOT EXISTS public.users (
    id UUID PRIMARY KEY REFERENCES auth.users ON DELETE CASCADE,
    email VARCHAR(255) NOT NULL UNIQUE,
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    role VARCHAR(20) NOT NULL DEFAULT 'user' CHECK (role IN ('superadmin', 'admin', 'regional_admin', 'user')),
    status VARCHAR(20) NOT NULL DEFAULT 'active' CHECK (status IN ('active', 'inactive', 'pending')),
    phone VARCHAR(20),
    profile_photo_url TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- *** USER REGIONS TABLE - For regional admins assigned to regions ***
CREATE TABLE IF NOT EXISTS public.user_regions (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID REFERENCES public.users(id) ON DELETE CASCADE,
    region_id UUID REFERENCES public.regions(id) ON DELETE CASCADE,
    assigned_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    assigned_by UUID REFERENCES public.users(id),
    UNIQUE(user_id, region_id)
);

-- *** REPORTS TABLE ***
CREATE TABLE IF NOT EXISTS public.reports (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    title VARCHAR(200) NOT NULL,
    description TEXT,
    report_type VARCHAR(50) NOT NULL CHECK (report_type IN ('budget', 'farmers', 'organizations', 'activity', 'other')),
    region_id UUID REFERENCES public.regions(id) ON DELETE CASCADE,
    province_id UUID REFERENCES public.provinces(id) ON DELETE SET NULL,
    fiscal_year INTEGER,
    created_by UUID REFERENCES public.users(id) ON DELETE SET NULL,
    report_date DATE NOT NULL,
    report_data JSONB NOT NULL DEFAULT '{}',
    status VARCHAR(20) DEFAULT 'draft' CHECK (status IN ('draft', 'submitted', 'approved', 'rejected')),
    feedback TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- *** RLS POLICIES ***

-- Island Groups policy
CREATE POLICY "Public can view island groups" ON public.island_groups
    FOR SELECT USING (true);
CREATE POLICY "Only super admins can insert island groups" ON public.island_groups
    FOR INSERT WITH CHECK (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Only super admins can update island groups" ON public.island_groups
    FOR UPDATE USING (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Only super admins can delete island groups" ON public.island_groups
    FOR DELETE USING (auth.jwt() ->> 'role' = 'superadmin');

-- Regions policy
CREATE POLICY "Public can view regions" ON public.regions
    FOR SELECT USING (true);
CREATE POLICY "Only super admins can insert regions" ON public.regions
    FOR INSERT WITH CHECK (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Only super admins can update regions" ON public.regions
    FOR UPDATE USING (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Only super admins can delete regions" ON public.regions
    FOR DELETE USING (auth.jwt() ->> 'role' = 'superadmin');

-- Provinces policy
CREATE POLICY "Public can view provinces" ON public.provinces
    FOR SELECT USING (true);
CREATE POLICY "Only super admins can insert provinces" ON public.provinces
    FOR INSERT WITH CHECK (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Only super admins can update provinces" ON public.provinces
    FOR UPDATE USING (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Only super admins can delete provinces" ON public.provinces
    FOR DELETE USING (auth.jwt() ->> 'role' = 'superadmin');

-- Region Budgets policy
CREATE POLICY "Public can view region budgets" ON public.region_budgets
    FOR SELECT USING (true);
CREATE POLICY "Only super admins can insert region budgets" ON public.region_budgets
    FOR INSERT WITH CHECK (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Only super admins can update region budgets" ON public.region_budgets
    FOR UPDATE USING (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Only super admins can delete region budgets" ON public.region_budgets
    FOR DELETE USING (auth.jwt() ->> 'role' = 'superadmin');

-- Annual Budget policy
CREATE POLICY "Public can view annual budgets" ON public.annual_budgets
    FOR SELECT USING (true);
CREATE POLICY "Only super admins can insert annual budgets" ON public.annual_budgets
    FOR INSERT WITH CHECK (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Only super admins can update annual budgets" ON public.annual_budgets
    FOR UPDATE USING (auth.jwt() ->> 'role' = 'superadmin');

-- Users policy
CREATE POLICY "Users can view their own data" ON public.users
    FOR SELECT USING (auth.uid() = id);
CREATE POLICY "Super admins can view all users" ON public.users
    FOR SELECT USING (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Admins can view all users" ON public.users
    FOR SELECT USING (auth.jwt() ->> 'role' = 'admin');
CREATE POLICY "Regional admins can view users in their regions" ON public.users
    FOR SELECT USING (
        auth.jwt() ->> 'role' = 'regional_admin' AND
        EXISTS (
            SELECT 1 FROM public.user_regions ur
            WHERE ur.user_id = auth.uid() AND
                  ur.region_id IN (
                      SELECT ur2.region_id FROM public.user_regions ur2 WHERE ur2.user_id = public.users.id
                  )
        )
    );
CREATE POLICY "Only super admins can insert users" ON public.users
    FOR INSERT WITH CHECK (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Users can update their own data" ON public.users
    FOR UPDATE USING (auth.uid() = id);
CREATE POLICY "Super admins can update any user" ON public.users
    FOR UPDATE USING (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Only super admins can delete users" ON public.users
    FOR DELETE USING (auth.jwt() ->> 'role' = 'superadmin');

-- User Regions policy
CREATE POLICY "Super admins can view all user regions" ON public.user_regions
    FOR SELECT USING (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Regional admins can view their own assignments" ON public.user_regions
    FOR SELECT USING (user_id = auth.uid());
CREATE POLICY "Only super admins can assign users to regions" ON public.user_regions
    FOR INSERT WITH CHECK (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Only super admins can update user region assignments" ON public.user_regions
    FOR UPDATE USING (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Only super admins can remove user region assignments" ON public.user_regions
    FOR DELETE USING (auth.jwt() ->> 'role' = 'superadmin');

-- Reports policy
CREATE POLICY "Super admins can view all reports" ON public.reports
    FOR SELECT USING (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Admins can view all reports" ON public.reports
    FOR SELECT USING (auth.jwt() ->> 'role' = 'admin');
CREATE POLICY "Regional admins can view reports for their regions" ON public.reports
    FOR SELECT USING (
        auth.jwt() ->> 'role' = 'regional_admin' AND
        EXISTS (
            SELECT 1 FROM public.user_regions ur
            WHERE ur.user_id = auth.uid() AND ur.region_id = public.reports.region_id
        )
    );
CREATE POLICY "Users can view reports they created" ON public.reports
    FOR SELECT USING (created_by = auth.uid());
CREATE POLICY "Super admins can create reports" ON public.reports
    FOR INSERT WITH CHECK (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Admins can create reports" ON public.reports
    FOR INSERT WITH CHECK (auth.jwt() ->> 'role' = 'admin');
CREATE POLICY "Regional admins can create reports for their regions" ON public.reports
    FOR INSERT WITH CHECK (
        auth.jwt() ->> 'role' = 'regional_admin' AND
        EXISTS (
            SELECT 1 FROM public.user_regions ur
            WHERE ur.user_id = auth.uid() AND ur.region_id = public.reports.region_id
        )
    );
CREATE POLICY "Users can update reports they created" ON public.reports
    FOR UPDATE USING (created_by = auth.uid() AND status = 'draft');
CREATE POLICY "Super admins can update any report" ON public.reports
    FOR UPDATE USING (auth.jwt() ->> 'role' = 'superadmin');
CREATE POLICY "Regional admins can update reports for their regions" ON public.reports
    FOR UPDATE USING (
        auth.jwt() ->> 'role' = 'regional_admin' AND
        EXISTS (
            SELECT 1 FROM public.user_regions ur
            WHERE ur.user_id = auth.uid() AND ur.region_id = public.reports.region_id
        )
    );
CREATE POLICY "Only super admins can delete reports" ON public.reports
    FOR DELETE USING (auth.jwt() ->> 'role' = 'superadmin');

-- *** INITIAL DATA INSERTION ***

-- Insert Island Groups
INSERT INTO public.island_groups (name) VALUES
('Luzon'),
('Visayas'),
('Mindanao')
ON CONFLICT (name) DO NOTHING;

-- Insert Regions (Select island_group_id from the inserted island_groups)
WITH island_data AS (
    SELECT id, name FROM public.island_groups
)

-- Insert Initial Annual Budget
INSERT INTO public.annual_budgets (fiscal_year, total_amount) VALUES
(2024, 100000000)
ON CONFLICT (fiscal_year) DO NOTHING;

-- Insert Region Budgets for 2024
WITH region_data AS (
    SELECT id, code FROM public.regions
)

-- Insert provinces for each region
-- This is just a partial list for demonstration purposes
-- You would add all provinces for a complete implementation
WITH region_data AS (
    SELECT id, code FROM public.regions
)

-- Insert Sample Users (Super Admin, Regional Admins)

-- Assign Regional Admins to Regions
WITH region_data AS (
    SELECT id, code FROM public.regions
),
user_data AS (
    SELECT id, email FROM public.users
)

-- Insert sample reports
WITH region_data AS (
    SELECT id, code FROM public.regions
),
user_data AS (
    SELECT id, email FROM public.users
)

-- Create convenient views for easier querying
CREATE OR REPLACE VIEW public.region_with_province_count AS
SELECT 
    r.id,
    r.code,
    r.name,
    r.priority,
    ig.name AS island_group,
    COUNT(p.id) AS province_count,
    SUM(p.farmers) AS total_farmers,
    SUM(p.organizations) AS total_organizations,
    COALESCE(rb.amount, 0) AS budget_amount,
    COALESCE(rb.allocated, false) AS is_budget_allocated
FROM 
    public.regions r
    JOIN public.island_groups ig ON r.island_group_id = ig.id
    LEFT JOIN public.provinces p ON p.region_id = r.id
    LEFT JOIN public.region_budgets rb ON rb.region_id = r.id AND rb.fiscal_year = 2024
GROUP BY 
    r.id, r.code, r.name, r.priority, ig.name, rb.amount, rb.allocated;

-- View for budget allocation statistics
CREATE OR REPLACE VIEW public.budget_allocation_summary AS
SELECT 
    ab.fiscal_year,
    ab.total_amount,
    SUM(rb.amount) AS total_allocated,
    (SUM(rb.amount) / ab.total_amount) * 100 AS allocation_percentage,
    ab.total_amount - SUM(rb.amount) AS remaining_budget,
    COUNT(CASE WHEN rb.allocated THEN 1 END) AS regions_with_budget,
    COUNT(r.id) AS total_regions
FROM 
    public.annual_budgets ab
    LEFT JOIN public.region_budgets rb ON rb.fiscal_year = ab.fiscal_year
    LEFT JOIN public.regions r ON r.id = rb.region_id
GROUP BY 
    ab.fiscal_year, ab.total_amount;

-- View for region admins
CREATE OR REPLACE VIEW public.region_admins AS
SELECT 
    r.id AS region_id,
    r.code AS region_code,
    r.name AS region_name,
    u.id AS user_id,
    u.first_name,
    u.last_name,
    u.email,
    u.phone,
    u.status AS user_status,
    ur.assigned_at
FROM 
    public.regions r
    LEFT JOIN public.user_regions ur ON r.id = ur.region_id
    LEFT JOIN public.users u ON ur.user_id = u.id AND u.role = 'regional_admin'
ORDER BY 
    r.code;
